body {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  margin: 0px;
}

#endbackgroundimg {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
}

h1 {
  position: absolute;
  color: black;
  font-size: 300px;
  font-family: constantia;
  font-style: italic;
  width: auto;
  top: 350px;
  left: 860px;
  margin: 0px;
}

h2 {
  position: absolute;
  color: orange;
  font-size: 120px;
  font-family: constantia;
  font-style: italic;
  width: auto;
  top: 810px;
  left: 440px;
}
